/*
  |============================|
  |  Root
  |============================|
*/
:root {

  /*
  |===|Fonts|===|
*/
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /*
  |===|Colors|===|
*/
  /*Primary Brand*/
  --Iris: #4D5AE5;
  /*Pressed State*/
  --Ocean: #404BBF;
  /*Dark*/
  --Navy-blue: #2E2F42;
  /*Success*/
  --Green: #31D0AA;
  /*Text*/
  --Slate: #434455;
  /*Subtle Text*/
  --Light-Slate: #8E8F99;
  /*Accent*/
  --Cornflower: #E7E9FC;
  /*Light*/
  --Cloud: #F4F4FD;
  /*Modal Overlay*/
  --Navy-Blue-Modal: #2E2F42;
  /*Hero Background*/
  --Grey: #2E2F42;
  /*White Background*/
  --White: #FFFFFF;
  /*Modal Background*/
  --Dairy: #FCFCFC;
}

/*
  |============================
  | Basic styles
  |============================
*/

body {
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  color: var(--Slate);
  background-color: var(--White);
}

/*
|===|Reset>>>|===|
*/

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

/*
|===|Reset<<<|===|
*/

.logo {
  color: var(--Iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*
  |===|Title styles|===|
*/

.hero-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--White);
}

.title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  line-height: 1.5;
  color: var(--Slate);
}

.medium-text {
  font-weight: 500;
  line-height: 1.5;
}

.visually-hidden {
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/*
  |============================
  | Header styles
  |============================
*/

/*
  |============================
  | Navigation menu style
  |============================
*/

.logo-black {
  color: var(--Navy-blue);
}

.list .link:hover,
.list .link:focus {
  color: var(--Ocean);
}

/*
  |============================
  |  Header contacts style
  |============================
*/

.adress-item {
  font-style: normal;
  line-height: 1.5;
  color: var(--Slate);
}
/*
  |============================
  | Hero styles
  |============================
*/

.hero {
  background-color: var(--Navy-blue);
}

.hero-button {
  background-color: var(--Iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--White);
}

/*
  |============================
  | Benefits styles
  |============================
*/

/*
  |============================
  | Our Team styles
  |============================
*/

.team.section {
  background-color: var(--Cloud);
}

/*
  |============================
  |  Portfolio style
  |============================
*/

.portfolio-list-item{
  background: var(--White);
}

/*
  |============================
  | Footer style
  |============================
*/

.footer {
  background-color: var(--Navy-blue)
}

.footer.logo {
 font-weight: 700;
}

.logo-white {
  color: var(--Cloud)
}

.footer.text {
  color: var(--Cloud);
}